<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">Working Holiday Mate 登録フォーム</h1>
        <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.label :nickname, class: 'text-white' %>
            <%= f.text_field :nickname, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :mail, class: 'text-white' %>
            <!-- <label class="text-white" for="mail">メールアドレス</label> -->
            <%= f.email_field :mail, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: 'text-white' %>
            <%= f.text_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, class: 'text-white' %>
            <%= f.text_field :password_confirmation, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%#= f.label :image%>
            <%#= f.file_field :image %>
          </div>
          <div class="form-group">
          <label>
            <%#= f.radio_button :gender, "男性"%>"男性"
          </label>
          <label>
            <%#= f.radio_button :gender, "女性"%>"女性"
          </label>
          </div>
          <!-- <div class="radio-inline">
            <%#= f.label :gender, class: 'text-white' %>
            <%#= f.radio_button :gender, :"男性" %>
          </div>
          <div class="radio-inline">
            <%#= f.label :gender, class: 'text-white' %>
            <%#= f.radio_button :gender, :"女性" %>
          </div> -->
          <div class="form-group">
            <%#= f.label :age, class: 'text-white' %>
            <%#= f.text_field :age, class: 'form-control' %>
          </div>
          <div class="form-group">
             <%#= f.select :nationality,
             { nationality: "Japan","Korea","China"},{ class: 'text-white'} %>
            <%#= f.select :nationality,
            [["Japan"]["Korea"]["China"]["Chinese Taipei"]["Hong Kong"]["Australia"]["Canada"]["New Zealand"]["Ireland"]["German"]["UK"]["France"]]
             class: 'form-control' %>
          </div>
          <div class="form-group">
            <%#= f.label :hobby, class: 'text-white' %>
            <%#= f.text_field :hobby, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :languages, "話せる言語" %><br/>
            <%= f.fields_for :languages do |languages_form| %>
                  <%= languages_form.select :language, options_for_select([["English"],["Japanese"],["Korean"],["北京語"],["広東語"],["French"],["Germany"],["Itary"]]) %>
                  <%= languages_form.select :level, options_for_select([["全く話せない"],["片言でなら"],["日常会話OK"],["ビジネスで使ってる"],["ネイティヴ"]]) %>
                  <%= languages_form.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %>
            <% end %>

            <%= f.add_nested_fields_link :roomtypes, 'Add new', class: 'btn btn-primary', role:'button' %>



            <!-- [["English"]["Japanese"]["Korean"]["北京語"]["広東語"]["French"]["Germany"]["Itary"]] -->
             <!-- class: 'form-control' %> -->

          </div>
          <!-- language_usersをlanguegesに紐づけて並列表示 -->
          <div class="form-group">
            <%#= f.text_field :introduce, class: 'form-control' %>
            <%#= f.label :introduce, class: 'text-white' %>
          </div>

          <%= f.submit "登録", class: 'btn-block btn-white' %>
        <% end %>



      </div>
    </div>
  </div>
</div>
